<%- include('header'); -%>
<div style="text-align: center">
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Sr no.</th>
            <th scope="col">Withdraw Amount</th>
            <th scope="col">Deposite Amount</th>
            <th scope="col">Transfer Amount</th>
            <th scope="col">Transfer Account Number</th>
            <th scope="col">Transaction Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><%= c_1_wa  %></td>
            <td><%= c_1_da  %></td>
            <td><%= c_1_ta  %></td>
            <td><%= c_1_tac  %></td>
            <td><%= c_1_ti  %></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><%= c_2_wa  %></td>
            <td><%= c_2_da  %></td>
            <td><%= c_2_ta  %></td>
            <td><%= c_2_tac  %></td>
            <td><%= c_2_ti  %></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><%= c_3_wa  %></td>
            <td><%= c_3_da  %></td>
            <td><%= c_3_ta  %></td>
            <td><%= c_3_tac  %></td>
            <td><%= c_3_ti  %></td>
          </tr>
        </tbody>
      </table>

</div>
<%- include('footer'); -%>

